<footer class="bg1">
    <div class="container p-t-40 p-b-70">
        <div class="row">
            <div class="col-sm-6 col-md-4 p-t-50">
                <!-- - -->
                <h4 class="txt13 m-b-33">
                    Contact Us
                </h4>

                <ul class="m-b-70">
                    <li class="txt14 m-b-14">
                        <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                        8th floor, 379 Hudson St, New York, NY 10018
                    </li>

                    <li class="txt14 m-b-14">
                        <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                        (+1) 96 716 6879
                    </li>

                    <li class="txt14 m-b-14">
                        <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                        contactsite.com
                    </li>
                </ul>

                <!-- - -->
                <h4 class="txt13 m-b-32">
                    Opening Times
                </h4>

                <ul>
                    <li class="txt14">
                        09:30 AM – 11:00 PM
                    </li>

                    <li class="txt14">
                        Every Day
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-4 p-t-50">
                <!-- - -->
                <h4 class="txt13 m-b-33">
                    Latest twitter
                </h4>

                <div class="m-b-25">
                    <span class="fs-13 color2 m-r-5">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </span>
                    <a href="#" class="txt15">Resturant</a>

                    <p class="txt14 m-b-18">
                        Activello is a good option. It has a slider built into that displays the featured image in the slider.
                        <a href="#" class="txt15">
                            https://buff.ly/2zaSfAQ 
                        </a>
                    </p>

                    <span class="txt16">
                        21 Dec 2024
                    </span>
                </div>

                <div>
                    <span class="fs-13 color2 m-r-5">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </span>
                    <a href="#" class="txt15">
                        Resturant
                    </a>

                    <p class="txt14 m-b-18">
                        Activello is a good option. It has a slider built into that displays
                        <a href="#" class="txt15">
                            https://buff.ly/2zaSfAQ 
                        </a>
                    </p>

                    <span class="txt16">
                        21 Dec 2017
                    </span>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-t-50">
                <h4 class="txt13 m-b-38">
                    Gallery
                </h4>
        
                <div class="wrap-gallery-footer flex-w">
                        <div class="box m-b-14 " >
                          @for (image of images; let i = $index ; track i) {
                          <div class="image-container ">
                            <img class="image mb-3" [src]="image.src"  [alt]="'Image ' + (i + 1)" (click)="openLightbox(image.src)" />
                          </div>
                        }
                        </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="end-footer bg2" >
            <div class="flex-sb-m " >
                <div class="pt-4 pb-4">
                    <a href="#" class="fs-15 c-white"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                    <a href="#" class="fs-15 c-white"><i class="fa fa-facebook ml-5" aria-hidden="true"></i></a>
                    <a href="#" class="fs-15 c-white"><i class="fa fa-twitter ml-5" aria-hidden="true"></i></a>
                </div>

                <div class="txt17 p-r-20 p-t-5 p-b-5">
                    2025 Resturant. 
                    <a href="#" class="txt18">
                        Get The Theme
                    </a>
                </div>
       
        </div>
    </div>
</footer>
<div *ngIf="isLightboxVisible" class="lightbox-overlay" (click)="closeLightbox()">
    <div class="lightbox-content">
      <img [src]="currentImage" alt="Enlarged Image" />
      <span class="close-btn" (click)="closeLightbox()">X</span>
    </div>
  </div>
