<header class="header" [ngClass]="{'scrolled': isScrolled}">
    <div class="nav container">
      <mat-toolbar class="d-flex justify-content-between">
            <div class="logo">
              <a href="index.html">
                <img src="assets/images/logo.jpg" alt="IMG-LOGO">
              </a>
            </div>
      
      
  
        <div class="d-flex justify-content-center submain" >
          <a routerLink="/" routerLinkActive="active" class="title">HOME</a>
          <a routerLink="/menu" routerLinkActive="active" class="title" (click)="Router()">MENU</a>
          <a routerLink="/reservation" routerLinkActive="active" class="title">Reservation</a>
          <a routerLink="/about" routerLinkActive="active" class="title">ABOUT</a>
          <a routerLink="/contact" routerLinkActive="active" class="title">Contact</a>
        </div>
          <button (click)="toggleSidebar()" class="sidebar" ></button>
      </mat-toolbar>
    </div>
  </header>
<app-sidebar [isSidebarVisible]="isSidebarVisible"  (closeSidebarEvent)="closeSidebar()"></app-sidebar>