<header class="header">
    <div class="nav container">
      <mat-toolbar class="d-flex justify-content-between">
        <div class="d-flex main">
          <div class="d-flex align-items-center">
            <button class="logo">
              <h1 class="name1">PATO</h1>
              <h6 class="name2">RESTAURANT</h6>
            </button>
          </div>
        </div>
  
        <!-- Hamburger icon for small screens -->
        <button class="menu-icon">
          <span class="material-icons">menu</span>
        </button>
  
        <div class="d-flex justify-content-center submain" >
          <a routerLink="/" routerLinkActive="active" class="title">HOME</a>
          <a routerLink="/menu" routerLinkActive="active" class="title">MENU</a>
          <a routerLink="/reservation" routerLinkActive="active" class="title">Reservation</a>
          <a routerLink="/about" routerLinkActive="active" class="title">ABOUT</a>
          <a routerLink="/contact" routerLinkActive="active" class="title">Contact</a>
        </div>
      </mat-toolbar>
    </div>
  </header>
  