<div>
    <section >
      <!-- قسم الوجبات -->
       <div *ngFor="let item of menuItems">
        <div *ngIf="item.name ===selectCategory">
          <app-title-page [image]="item.image" [title]="item.name"></app-title-page>
        </div>
       
       </div>
  
      <div class="container">
            <div *ngIf="categoryMeals && categoryMeals.length > 0 ">
              <!-- Meals Section -->
              <div class="row">
                <div *ngFor="let meal of categoryMeals | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" 
                class="col-md-6 mb-4" (click)="routerDetailsMeals(meal.idMeal)">
                  <div class="meal d-flex align-items-center">
                    <div class="meal-image">
                      <img [src]="meal.strMealThumb" alt="{{ meal.strMeal }}" class="img-fluid rounded" />
                    </div>
                    <div class="meal-details ms-3">
                      <h2 class="meal-title">{{ meal.strMeal }}</h2>
                      <p class="meal-description">{{ meal.strInstructions }}</p>
                      <p class="meal-price">{{ meal.price | currency }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <app-pagination *ngIf="categoryMeals && categoryMeals.length > itemsPerPage"
                 (pageChanged)="onPageChange($event)"></app-pagination>
    </section>
  </div>
  
