
<div class="container details">
    <ng-template #loadingTemplate>
        <div class="loading">
            <img src="./assets/images/loading.svg" />
        </div>
    </ng-template>
    @if(filterDrinks){
    <div class="row" >
        <div class="col-6">
            <div class="img ">
                <img class="image" [src]='filterDrinks.strDrinkThumb' />
            </div>
        </div>
                  <div class="col-6">
                <div class="card-body">
                    <h5 class="card-title"> {{filterDrinks.strDrink}} </h5>
                    <p class="card-text "><span class="title">Price: </span>{{filterDrinks.price | currency}} </p>
                    <p class="card-text "><span class="title">Category: </span>{{filterDrinks.strCategory}} </p>                    <div>
                        <p class="card-text"><span class="title">Meal ingredients: </span>{{filterDrinks.strIngredient1}} , {{filterDrinks.strIngredient2}} , {{filterDrinks.strIngredient3}}
                    
                        </p>
                        <p class="card-text"><span class="title">Instructions making meal: </span>{{filterDrinks.strInstructions}}</p>
                    </div>
    
                    <div class="d-flex">
                        <button class="back" (click)="Back()">Back</button>
                        <div class="d-flex">
                            <button class="bnt" (click)="prev()"><img class="prev"
                                    src="../assets/images/prev.svg" /></button>
    
                            <p class="prev-next" >Prev | Next</p>
                            <button class="bnt" (click)="next()"><img class="prev"
                                    src="../assets/images/next.svg" /></button>
                        </div>
    
                    </div>
                </div>
            </div>
    
      
    </div>
}
</div>