/* General Styling for Our Menu Section */
.section-ourmenu {
    padding: 115px 0 120px;
    background: repeat;

}
.container {
    max-width: 1200px;
}

.title-section-ourmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* توسيط العناصر أفقيًا */
    margin-bottom: 30px
}

.tit2 {
    font-family: Courgette;
    font-size: 30px;
    line-height: 1.2;
    color: #d61c22;
    text-align: center;

}

.tit5 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 8px;
    margin-top: 10px;
}

/* Styling for Menu Items */
.item-ourmenu {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}


.image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.item-ourmenu:hover img {
    transform: scale(1.1);
}

/* Button Styling */
.btn2 {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    opacity: 0.9;
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.btn2:hover {
    background-color: #ec1d25;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .section-ourmenu {
        padding: 60px 0;
    }

    .title-section-ourmenu .tit5 {
        font-size: 28px;
    }

    .item-ourmenu {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .btn2 {
        font-size: 12px;
        padding: 8px 15px;
    }
}