<div>
  <section *ngFor="let item of menuItems | paginate: { itemsPerPage: 1, currentPage: currentPage }">
    <!-- قسم الوجبات -->
  <app-title-page [image]="item.image" [title]="item.name"></app-title-page>

    <div class="container">
      <div *ngIf="mealsByCategory.length">
        <div *ngFor="let category of mealsByCategory">
          <div *ngIf="category.category === item.name">
            <!-- Meals Section -->
            <div class="row">
              <div *ngFor="let meal of category.meals" class="col-md-6 mb-4" (click)="routerDetailsMeals(meal.idMeal)">
                <div class="meal d-flex align-items-center">
                  <div class="meal-image">
                    <img [src]="meal.strMealThumb" alt="{{ meal.strMeal }}" class="img-fluid rounded">
                  </div>
                  <div class="meal-details ms-3">
                    <h2 class="meal-title">{{ meal.strMeal }}</h2>
                    <p class="meal-description">{{meal.strInstructions}}></p>
                    
                      <p class="meal-price"> {{meal.price| currency}}</p>
                    
                    
                  </div>
                </div>
              </div>
            </div>

            <!-- Drinks Section -->
            <div class="row" *ngIf="item.name === 'Drinks'">
              <div *ngFor="let drink of category.drinks" class="col-md-6 mb-4" (click)="routerDetailsDrinks(drink.idDrink)">
                <div class="meal d-flex align-items-center">
                  <div class="meal-image">
                    <img [src]="drink.strDrinkThumb" alt="{{ drink.strDrink }}" class="img-fluid rounded">
                  </div>
                  <div class="meal-details ms-3">
                    <h2 class="meal-title">{{ drink.strDrink }}</h2>
                    <p class="meal-description">Refreshing and tasty drink description.</p>
                    
                      <p class="meal-price"> {{drink.price| currency}}</p>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-pagination (pageChanged)="onPageChange($event)"></app-pagination>
  </section>
</div>
